<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>
            <title>nkhatiwada - Nitesh Khatiwada</title>
    </head>
    <body>
        <div class='intro'>
        <div class="ticker">
            <li>\(i\hbar \frac{\partial}{\partial t} \Psi = H \Psi\)</li>
        </div>

        <div class="clock">
            <div class="hour"></div>
            <div class="min"></div>
            <div class="sec"></div>
        </div>

        <h2>Nitesh Khatiwada</h2>

        Université Bourgogne Franche-Comté<br>
        Faculty of Sciences Mirande<br>
        22 av alain Savary<br>
        206 Piron, 21000 Dijon<br>
        France<br>
        <br>
        Email: nkhatiwada-phy@pm.me<br>
        <a href="/gnupg">GnuPG Public </a> Key for Encrypted Message<br>
        Phone: +49 157 306 95221<br>
        Access my <a href="/cv"> CV </a> here.

        <br><br><br>
        <hr style="margin-left: -40px; width: 800px; height: 2px;">

    </div> 

    <div class='content'>
        ≥ &nbsp; <a class="links" href="#env">~/Environment</a> &nbsp; <a class="links" href="#work">~/Work</a> &nbsp; <a class="links" href="#eve">~/Events</a> &nbsp; <a class="links" href="#art">~/Articles</a> &nbsp; <a class="links" href="#blog">~/Linux</a> &nbsp; <a class="links" href="#cont">~/Contacts</a>
        <br>
        ≥ <br>
        ≥ <div class="comment">/* @revision: 2.1 <br>
            &nbsp; &nbsp; @date: 12.02.2023 */ </div>
        ≥ <br>
        ≥ <br>
        ≥ <div class="title" id="env"> ~/Environment</div>
        <div class="comment">/* <p style="text-decoration: line-through; display: inline;"> You need to be adapted to the environment. </p> <br> &nbsp; &nbsp; Environment needs to be customizable <i> s.t. </i> it enhances your growth. */ </div>
        ≥ <div class="section"> /dev/os:</div> Arch (GNU/Linux)<br>
        ≥ <div class="section"> /dev/wm:</div> awesome<br>
        ≥ <div class="section">/dev/shell:</div> zsh<br>
        ≥ <div class="section">/dev/lang:</div> Python<br>
        ≥ <div class="section">/dev/editor:</div> Vim<br>
        ≥ <div class="section">/dev/vcs:</div> Git<br>
        ≥ <br>
        ≥ <br>
        ≥ <div class="title" id="work"> ~/Work</div> <br>
        <div class="comment">/* Work is Religion <br> 
            &nbsp; &nbsp; - <i> Thomas Carlyle </i> */ </div>
        ≥ <div class="section"> Program: </div> Quantum Technologies and Engineering Erasmus Mundus Master <br>
        ≥ <div class="section"> Awards: </div> Erasmus Mundus Scholarship 2022-2024 <br>
        ≥ <div class="section">Affiliation: </div> Université Bourgogne Franche-Comté, Dijon, France <br>
        ≥ <br>
        ≥ <br>
        ≥ <div class="title" id="eve"> ~/Events</div> <br>
        <div class="comment"> /* My inbox is waiting for your invitation. */ </div>
        ≥ <div class="section">./Upcoming </div> <br>
        ≥ <br>
        ≥ <br>
        ≥ <div class="section"> ./History </div> <br>
        ≥ <div class="subsection"> [01.02.2023] </div> Winter School of QuanTEEM Program, Dijon, France <br>
        ≥ <div class="subsection"> [28.01.2023] </div> iQuHack by iQuISE at MIT-CQE, MIT, US (Online) <br>
        ≥ <div class="subsection"> [09.12.2022] </div> Official Kick-Off of QuanTEEM EMJMD Program, Dijon, France <br>
        ≥ <div class="subsection"> [12.09.2022] </div> Beginning of Master's Program in Quantum Technologies and Engineering, Dijon, France <br>
        ≥ <div class="subsection"> [27.06.2022] </div> End of research internship, National Institute of Technology, Kurukshetra, India <br>
        ≥ <div class="subsection"> [13.06.2022] </div> Start of new position as research intern, National Institute of Technology, Kurukshetra, India <br>
        ≥ <div class="subsection"> [10.06.2022] </div> Graduation Ceremony, Jacobs University Bremen, Germany <br>
        ≥ <div class="subsection"> [17.05.2022] </div> Bachelor Thesis Defence on Optimal Cloning Quantum Channels, Information Resource Center, Jacobs University Bremen, Germany <br>
        ≥ <div class="subsection"> [15.05.2022] </div> Presentation on Magnetic Resonance Force Microscopy, West Hall, Jacobs University Bremen, Germany <br>
        ≥ <div class="subsection"> [11.05.2022] </div> Presentation on Quantum Error Correction, Research Hall 1, Jacobs University Bremen, Germany <br>
        ≥ <br>
        ≥ <br>


        ≥ <div class="title" id="art"> ~/Articles </div> <br>
        <div class="comment"> /* I share here what I write in academic fields. */ </div>
        ≥ <div class="section"> ./2022</div> <br>
        ≥ <div class="subsection-notbold"> RISE Worldwide Internship Report on „Agro-based Synthesis of Carbon Quantum Dots for Thermal Sensing and White LED“ sponsored by Deutsche Akademischer Austauchdienst (DAAD)  <a href=""> PDF </a> <a href="" > HTML </a> </div> <br>
        ≥ <div class="subsection-notbold"> Bachelor Thesis on „Optimal Cloning Quantum Channels“ <a hre=""> PDF </a> <a href=""> HTML </a> </div> <br>
        ≥ <div class="subsection-notbold"> Presentation on „Single Spin Detection by Magnetic Force Microscopy“ <a href=""> PDF </a></div> <br>
        ≥ <div class="subsection-notbold"> Presentation on „Quantum Error Correction“ <a href=""> PDF </a> </div> <br>
        ≥  <br>

        ≥ <div class="section"> ./2021 </div> <br>
        ≥ <div class="subsection-notbold"> Summer Internship on „Quantum Computing“ <a href=""> PDF </a> <a href=""> HTML </a> </div> <br>


        ≥ <br>
        ≥ <br>

        ≥ <div class="title" id="blog"> ~/Linux</div> <br>
        <div class="comment"> /* Others, non academic <br> &nbsp; &nbsp; but useful for productivity, health, and Linux */ </div>
        ≥ <div class="section"> ./Programs </div> <br>
        ≥ <div class="subsection-notbold"> Programs I use and recommend for others: alacritty, biber, Cron, figlet, Firefox, gVim, JabRef, Network Manager, Octave, OpenSSH, pass, redshift, rsync, sioyek, smartmontools, ssmtp, TeX, unarchiver, youtube-dl, zsh
            <div class="comment"><div class="subsection-notbold"> /* You can do simple Google/DuckDuckGo search about this. If you want to know how I use them and want to hear stories how these programs have saved my time, effort, and money; my inbox welcomes you. */ </div> </div>
        ≥  <br>
        ≥ <div class="section"> ./Blogs </div> <br>
        ≥ <div class="subsection-notbold"> Make your Literature Search Easy <a href="" > HTML </a> </div> <br>
        ≥ <div class="subsection-notbold"> Make your Scientific Writing Efficient <a href="" > HTML </a> </div> <br>
        ≥ <br>
        ≥ <div class="section"> ./Others </div> <br>


        ≥ <br>
        ≥ <br>

        ≥ <div class="title" id="cont"> ~/Contacts</div> <br>
        <div class="comment"> /* Let's be in touch. */ </div>
        ≥ <div class="section"> ./Direct </div> <br>
        ≥ <div class="subsection"> [Email]: </div> nkhatiwada-phy@pm.me <br>
        ≥ <br>

        ≥ <div class="section"> ./Social </div> <br>
        ≥ <div class="subsection"> [GitHub]: </div> &nbsp; <a href='https://github.com/n-khatiwada'> n-khatiwada </a> <br>
        ≥ <div class="subsection"> [Twitter]: </div> &nbsp; <a href='https://twitter.com/me_nkhatiwada'> me_nkhatiwada </a> <br>
        ≥ <div class="subsection"> [LinkedIn]: </div> &nbsp; <a href="https://www.linkedin.com/in/n-khatiwada/"> n-khatiwada </a> <br>

        <br><br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>
